@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ScriptBc";
    src: local("ScriptBc"),
    url(./assets/fonts/script-bc.woff) format("woff");
}

@font-face {
    font-family: "Handwritten";
    src: local("Handwritten"),
    url(./assets/fonts/HandwrittenRound.woff2) format("woff");
}

@font-face {
    font-family: "RalewayLight";
    src: local("RalewayLight"),
    url(./assets/fonts/Raleway-Light.woff2) format("woff");
}


/*for strapi manual edit*/
.handwritten {
    font-family: "Handwritten";
}

.raleway-light {
    font-family: "RalewayLight";
}

h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h2{
    font-size: 2rem;
    margin-bottom: 1.2rem;
    font-weight: bold;
}


h4{
    font-size: 2rem;
    margin-bottom: 1.2rem;
    font-weight: bold;
}